@media screen and (max-width: 560px) { /* ------------------------- 560 ---------- */
	header {
		height: 60px;
	}
	header .container .menu #logo {
		margin-top: 7px;
		width: 40px;
		background-size: 40px 43px;
	}
	body {
		font-size: 14px;
		line-height: 1.5em;
	}
	.container {
		padding: 90px 15px 60px 15px;
	}
	header .container {
		padding-left: 15px;
		padding-right: 15px;
	}
	#button-menu {
		margin-left: 0px;
		margin-top: 5px;
	}

	.post-intro .data div {
		float: none;
	}

	.-skin-default .-items .-item {
	width: 100%;
	margin: 10px 0;
}

	ul#menu-services {
		padding-bottom:10px;
 
		.serv {
			width: 100px;
			height: 100px;
			margin-bottom: 10px;
		}
		.serv2 {
			width: 96px;
			height: 96px;
		}
	}
	.box {
		padding-top: 20px;
	}

	.postmenu {
		width: 290px;

		h3 {
			font-size: 14px;
		}
	}
	#ville {
		height: 350px;
	}
	#home {
		padding-top: 100px;
	}

	input.send {
		margin-top:20px;
	}
}