.error {
	background-color: $darkblue;
	color: white;
}
.error .container {
	padding-top: 80px;
}

.error-container {
	max-width:700px;
	margin:auto;
	text-align: center;
    position: relative;

	img {
		width:initial;
	}

	h1 {
		padding-bottom: 30px;
	}
	p {
		max-width: 570px;
		width: 100%;
		margin: auto;
		border-bottom:solid 1px rgba(white, .2);
		padding-bottom: 30px;
	}
    #navigation {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        max-width: 570px;
        width: 100%;
        left: 0;
        right: 0;
    }
    #navigation li {
        line-height: 3em;
    }
    
	#navigation li a {
		color: white;
	}
	#navigation li a:hover {
		color: $red;
	}
}

/* ------------------ RESPONSIVE ------------------ */

@media screen and (max-width: 610px) {
    
    .error-container {
        padding-bottom: initial !important;
    
        #navigation li {
            display: list-item;
            float: none;

        }
        #navigation {
            position: inherit !important;
            max-width: none !important;
        }
    }
}